:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#inText {
  width: 400px;
  height: 400px;
}

#outText {
  background-color: red;
  width: 400px;
  height: 400px;
  overflow: auto;
  resize: both;
}
